@import "tailwindcss";

@custom-variant light (&:where(.light, .light *));
@custom-variant simple (&:where(.simple, .simple *));

@theme {
    --font-mono: var(--font-mono);
    --font-sans: var(--font-sans);
    --font-title: var(--font-mono);
    --font-body: var(--font-mono);

    --color-primary: var(--primary-default);
    --color-primary-hover: var(--primary-hover);
    --color-primary-active: var(--primary-active);
    --color-primary-subtle: var(--primary-subtle);

    --color-bg: var(--bg-default);
    --color-bg-muted: var(--bg-muted);
    --color-bg-card: var(--bg-card);
    --color-bg-active: var(--bg-active);
    --color-bg-hover: var(--bg-hover);
    --color-bg-contrast: var(--bg-contrast);

    --color-border: var(--border-default);
    --color-border-subtle: var(--border-subtle);
    --color-border-hover: var(--border-hover);
    --color-border-focus: var(--border-focus);
    --color-border-error: var(--border-error);

    --color-text: var(--text-primary);
    --color-text-secondary: var(--text-secondary);
    --color-text-muted: var(--text-muted);
    --color-text-contrast: var(--text-contrast);
    --color-text-link: var(--text-link);
    --color-text-link-hover: var(--text-link-hover);

    --color-success: var(--success-default);
    --color-success-subtle: var(--success-subtle);
    --color-success-contrast: var(--success-contrast);

    --color-error: var(--error-default);
    --color-error-subtle: var(--error-subtle);
    --color-error-contrast: var(--error-contrast);
}


/**
 * Color palette
 */
@layer base {

    /* Base colors */
    :root {
        --green-100: #C8FFD2;
        --green-200: #AFFEB5;
        --green-300: #34E04D;
        --green-400: #28B43C;
        --green-500: #128C20;
        --green-600: #0A6414;
        --green-700: #043F09;
        --green-800: #011D02;

        --red-100: #FFECEC;
        --red-200: #FFBABA;
        --red-300: #FF7D7D;
        --red-400: #FF0000;
        --red-500: #BC0000;
        --red-600: #7C0000;
        --red-700: #430000;

        --gray-100: #FFFFFF;
        --gray-200: #D6D6D6;
        --gray-300: #AFAFAF;
        --gray-400: #898989;
        --gray-500: #656565;
        --gray-600: #434343;
        --gray-700: #242424;
        --gray-800: #000000;

        --blue-100: #E8EFF8;
        --blue-200: #D0DFF1;
        --blue-300: #90B0D6;
        --blue-400: #4A6FA5;
        --blue-500: #3D5E8C;
        --blue-600: #2E4F73;
        --blue-700: #1D3559;

        --brown-100: #FEFCF6;
        --brown-200: #F6F3ED;
        --brown-300: #EDE9E0;
        --brown-400: #E2DCD0;
        --brown-500: #CCC5B8;
        --brown-600: #9C958C;
        --brown-700: #5C554A;
        --brown-800: #2D2A24;
    }

    /**
   * SEMANTIC TOKENS - LIGHT THEME
   */
    :root {
        --primary-default: var(--green-400);
        --primary-hover: var(--green-300);
        --primary-active: var(--green-200);
        --primary-subtle: var(--green-700);

        --bg-default: var(--gray-800);
        --bg-muted: var(--gray-700);
        --bg-card: var(--gray-600);
        --bg-active: var(--gray-500);
        --bg-hover: var(--gray-400);
        --bg-contrast: var(--gray-200);

        --border-default: var(--gray-600);
        --border-subtle: var(--gray-700);
        --border-hover: var(--gray-400);
        --border-focus: var(--green-300);
        --border-error: var(--red-300);

        --text-primary: var(--gray-100);
        --text-secondary: var(--gray-300);
        --text-muted: var(--gray-400);
        --text-contrast: var(--gray-800);
        --text-link: var(--gray-300);
        --text-link-hover: var(--gray-200);

        --success-default: var(--green-300);
        --success-subtle: var(--green-600);
        --success-contrast: var(--gray-100);

        --error-default: var(--red-300);
        --error-subtle: var(--red-600);
        --error-contrast: var(--gray-100);
    }

    /** 
   * SEMANTIC TOKENS - LIGHT THEME
   */
    .light {
        --primary-default: var(--green-500);
        --primary-hover: var(--green-600);
        --primary-active: var(--green-700);
        --primary-subtle: var(--green-100);

        --bg-default: var(--gray-100);
        --bg-muted: var(--gray-200);
        --bg-card: var(--gray-300);
        --bg-active: var(--gray-400);
        --bg-hover: var(--gray-500);
        --bg-contrast: var(--gray-700);

        --border-default: var(--gray-300);
        --border-subtle: var(--gray-200);
        --border-hover: var(--gray-500);
        --border-focus: var(--green-500);
        --border-error: var(--red-500);

        --text-primary: var(--gray-800);
        --text-secondary: var(--gray-600);
        --text-muted: var(--gray-500);
        --text-contrast: var(--gray-100);
        --text-link: var(--gray-500);
        --text-link-hover: var(--gray-600);

        --success-default: var(--green-400);
        --success-subtle: var(--green-100);
        --success-contrast: var(--gray-100);

        --error-default: var(--red-400);
        --error-subtle: var(--red-100);
        --error-contrast: var(--gray-100);
    }

    /**
   * SEMANTIC TOKENS - SIMPLE THEME
   */
    .simple {
        --font-title: var(--font-sans);
        --font-body: var(--font-sans);

        --primary-default: var(--blue-400);
        --primary-hover: var(--blue-500);
        --primary-active: var(--blue-600);
        --primary-subtle: var(--blue-100);

        --bg-default: var(--brown-100);
        --bg-muted: var(--brown-200);
        --bg-card: var(--gray-100);
        --bg-active: var(--brown-400);
        --bg-hover: var(--brown-300);
        --bg-contrast: var(--brown-800);

        --border-default: var(--brown-400);
        --border-subtle: var(--brown-200);
        --border-hover: var(--brown-500);
        --border-focus: var(--blue-400);
        --border-error: var(--red-300);

        --text-primary: var(--brown-800);
        --text-secondary: var(--brown-700);
        --text-muted: var(--brown-600);
        --text-contrast: var(--brown-100);
        --text-link: var(--brown-700);
        --text-link-hover: var(--brown-600);

        --success-default: var(--green-100);
        --success-subtle: var(--green-700);
        --success-contrast: var(--brown-800);

        --error-default: var(--red-300);
        --error-subtle: var(--red-700);
        --error-contrast: var(--brown-800);
    }

    /**
   * BASE STYLES
   */
    body {
        background-color: var(--bg-muted);
        color: var(--text-primary);
    }

    a {
        color: var(--text-link);
        transition: color 0.2s;
    }

    a:hover {
        color: var(--text-link-hover);
    }
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}